/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ol,
ul,
li {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}

.container {
  width: 80%;
  max-width: 1170px;
  margin-inline: auto;
}

/* Header styles start from here */
header {
  background-color: #f3fcf7;
  /* background-color: #0b2517; */
}
/* Navbar styles start from here */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 42px 0;
  border: 1px solid white;
}
.brand-logo {
  font-size: 2rem;
  font-weight: 500;
  color: #06c167;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 36px;
}
.nav-links li a {
  color: #1d1d1f;
  font-size: 1rem;
}
.hamburger {
  font-size: 1.5rem;
  color: #06c167;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #06c167;
  cursor: pointer;
  display: none;
}
/* Navbar styles end here */

/* Hero area styles start here */
#hero-area {
  display: flex;
  /* gap: 120px; */
}
.hero-con,
.hero-img {
  flex: 1;
}
.hero-con {
  padding: 130px 0;
}
.hero-title {
  font-size: 4.7rem;
  font-weight: 600;
  color: #1d1d1f;
}
.hero-text {
  font-size: 1rem;
  color: #1d1d1f75;
  margin: 15px 0 30px 0;
}
.btn-primary {
  padding: 20px 32px;
  text-transform: capitalize;
  font-size: 1rem;
  color: #fff;
  background-color: #06c167;
  border: 1px solid #06c167;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all linear 0.4s;
  &:hover {
    background: transparent;
    color: #1d1d1f;
  }
}
.hero-img {
  position: relative;
}
.image-wrapper {
  position: relative;
}
.image-wrapper img {
  position: absolute;
  right: 40px;
}
.rating-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  padding: 18px 20px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.rating-badge span,
.review-badge span {
  font-size: 1rem;
  font-weight: 500;
  color: #1d1d1f;
  text-transform: capitalize;
}
/* Hero area styles end here */

/* Header styles end here */

/* Feature section styles start from here */
#feature {
  padding: 60px 0;
  border-top: 2px solid #70707055;
  border-bottom: 2px solid #70707055;
}
.feature-card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.feature-card {
  display: flex;
  align-items: center;
  gap: 22px;
}
.feature-card > .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  background: #f3fcf7;
  border-radius: 12px;
}
.feature-card > .icon > i {
  font-size: 1.5rem;
  color: #06c167;
}
.feature-card > .content h4 {
  font-size: 18px;
  color: #1d1d1f;
  text-transform: capitalize;
  margin-bottom: 8px;
  font-weight: 400;
}
.feature-card > .content h5 {
  font-size: 14px;
  color: #1d1d1f;
  text-transform: capitalize;
  font-weight: 500;
}
/* Feature section styles end here */
